<html lang="en">
    {% include "_header.html.twig" %}
    <body>
        {% include "includes/navbar.html.twig" %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12"><h1>{{ page.metadata.title|title }}</h1></div>
            </div>
            {{ content|md_to_html }}
            {% include "_footer.html.twig" %}
        </div>
    </body>
</html>